:root {
    --color-primary: #0a88d3;
    --color-orange: #ff5b00;
    --color-gray: #f5f5f5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
ul {
    list-style-type: none;
    padding: 0;
}
a {
    text-decoration: none;
    display: inline-block;
    font: inherit;
    color: inherit;
}
img {
    display: block;
    max-width: 100%;
}
input,
button,
select,
optgroup,
textarea {
    font: inherit;
    line-height: inherit;
    outline: none;
    border: 1px solid;
}
pre {
    font-size: inherit;
    font-family: unset;
    white-space: break-spaces;
    word-break: break-word;
}
button {
    white-space: nowrap;
    border: none;
    background: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font: inherit;
}
.fw-600 {
    font-weight: 600 !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.fw-bold {
    font-weight: 700 !important;
}
.w-100 {
    width: 100% !important;
}
.h-100 {
    height: 100% !important;
}

@media(min-width: 576px) {
    .hidden-sm-up {
        display: none !important;
    }
}
@media(min-width: 768px) {
    .hidden-md-up {
        display: none !important;
    }
}
@media(min-width: 992px) {
    .hidden-lg-up {
        display: none !important;
    }
}
@media(max-width: 1139px) {
    .hidden-lg-down {
        display: none !important;
    }
}
@media(max-width: 991px) {
    .hidden-md-down {
        display: none !important;
    }
}
@media(max-width: 767px) {
    .hidden-sm-down {
        display: none !important;
    }
}

@media(max-width: 575px) {
    .hidden-xs-down {
        display: none !important;
    }
}

/* modal left */
.modal.modal--left {
    overflow: hidden;
}
.modal--left.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(-100%, 0);
}
.modal--left .modal-dialog {
    margin: 0;
}
.modal--left.show .modal-dialog {
    transform: none;
    margin: 0;
    height: 100vh;
}
.modal--left .modal-content {
    overflow-y: scroll;
    height: 100vh;
    border: 0;
    border-radius: 0;
    width: 320px;
}
/* modal top */
.modal.modal--top {
    overflow: hidden;
}
.modal--top.fade .modal-dialog {
    transition: transform .3s ease-out;
}
.modal--top .modal-dialog {
    margin: 0;
}
.modal--top.show .modal-dialog {
    transform: none;
    margin: 0;
    height: 100vh;
    max-width: initial;
}
.modal--top .modal-content {
    overflow-y: scroll;
    height: 100vh;
    border: 0;
    border-radius: 0;
    width: 100vw;
    overflow-x: hidden;
}

/*components*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.link-img {
    line-height: 0;
    display: block;
}
/*image*/
.img-contain, .img-cover {
    height: 0;
    padding-bottom: 100%;
    position: relative;
}

.img-contain>img, .img-cover>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: center;
}

.img-cover>img {
    object-fit: cover;
}

.bg-contain, .bg-cover {
    padding-bottom: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-cover {
    background-size: cover;
}


#to-top:hover {
    background: rgba(0, 0, 0, .1);
}
.icon-arrow-top {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 18px solid black;width: 0; height: 0;
}


/*back to top*/
#to-top {
    /*display: none;*/
    position: fixed;
    width: 40px;
    height: 40px;
    border: 1px solid #545353;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: .25s;
    display: flex;
    align-items: center;
    justify-content: center;
    /*right: 12px;*/
    right: -100px;
    bottom: 50px;
    z-index: 999;
    opacity: 1;
}
#to-top.show {
    right: 12px;
    opacity: 1;
}