:root {
    --color-primary: #0a88d3;
    --color-orange: #ff5b00;
    --color-yellow: #ff9c00;
    --color-gray: #f5f5f5;
    --border-gray: #dee2e6;
    --border-gray: #e0dede;
}

@font-face {
    font-display: swap;
    font-family: BrandonText;
    font-weight: 400;
    src: url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_reg-webfont.woff2) format("woff2"),url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_reg-webfont.woff) format("woff")
}
@font-face {
    font-display: swap;
    font-family: BrandonText;
    font-weight: 500;
    src: url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_med-webfont.woff2) format("woff2"),url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_med-webfont.woff) format("woff")
}
@font-face {
    font-display: swap;
    font-family: BrandonText;
    font-weight: 700;
    src: url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_bld-webfont.woff2) format("woff2"),url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_bld-webfont.woff) format("woff")
}
body {
    font-size: 16px;
    font-weight: 400;
    /*color: #191b26;*/
    color: #333;
    /*font-family: Open Sans, Arial, system-ui;*/
    font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

a:hover {
	color: inherit;
}
.text-orange {
	color: var(--color-orange) !important;
}
.btn-orange {
	color: #fff;
	background: var(--color-orange);
}
.btn-orange:hover {
	color: #fff;
	background: var(--color-orange);
}
.btn-gray1 {
	height: 40px;
	line-height: 40px;
	padding: 0px 12px;
}
.btn-gray1:hover {
	background: var(--color-gray);
	border-radius: .25rem;
}
.btn-gray {
    color: #222;
	background: var(--color-gray);
}
.btn-gray:hover {
    color: #222;
	background: var(--color-gray);
}

.form-control {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    padding: 0.375rem 0.75rem;
    font-size: inherit;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    width: 100%;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.border-bottom {
	border-bottom: 1px solid #dee2e6 !important;
}

.container {
	max-width: 1160px;
	margin: auto;
	padding-left: 12px;
	padding-right: 12px;
}

.h1-title {
	font-size: 32px;
	font-weight: 600;
}
.h2-title {
	font-size: 28px;
	font-weight: 600;
}
.h3-title {
	font-size: 24px;
	font-weight: 600;
}

/* components */
.list-star {
	color: var(--color-yellow);
	font-size: 12px;
	display: inline-flex;
}
.list-star i {
	margin-right: 2px;
}
.pagination_out .pagination {
	justify-content: center;
}

/* navbar */

/* header */
#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	font-size: 15px;
}
.header-left {
	display: flex;
	align-items: center;
}
.logo {
	margin-right: 12px;
}
.logo a{
	font-size: 28px;
	font-weight: 600;
}
.header-search {
	position: relative;
}
.header-search input{
	border: none;
	background: #f5f5f5;
	padding-left: 40px;
	padding-right: 12px;
	width: 280px;
	border-radius: 50rem;
}
.header-search input:focus {
	/*border: 1px solid var(--color-orange);*/
	background: transparent;
}
.header-search button{
	position: absolute;
	top: 2px;
	left: 3px;
	padding: 8px;
}
.header-nav a {
	/*height: 40px;
	line-height: 40px;
	font-weight: 600;
	padding: 0px 12px;*/
	text-transform: capitalize;
	font-weight: 600;
}
@media (max-width: 991px) {

}

/* sidebar */
.btn-toggle-search, .btn-toggle-bars {
	line-height: 0;
	font-size: 24px;
	color: #ddd;
}
#modal-sidebar {
	font-size: 15px;
}
.sidebar {
	width: 320px;
	max-width: 100%;
}
.sidebar .nav a{
	color: inherit;
	font-weight: 600;
	text-transform: capitalize;
}
.sidebar .nav a:hover {
	color: var(--bs-primary);
}
/* modal search */
#modal-search .modal-content {
	padding: 0 12px;
}
.mobile-search {
	position: relative;
	border-bottom: 2px solid #000;
}
.mobile-search button:first-child {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 50px;
}
.mobile-search input {
	width: 100%;
	border: none;
	outline: 0;
	height: 50px;
	padding-left: 50px;
	padding-right: 50px;
}
.mobile-search button:last-child {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
}

/* nav */
#nav {
	height: 60px;
	display: flex;
	align-items: center;
	font-size: 15px;
}
#nav a{
	/* font-weight: 600; */
}
#nav a:hover {
	background: var(--color-gray);
	border-radius: .25rem;
}

/* breadcrumb */
.breadcrumb {
	padding-top: 12px;
	margin-bottom: 24px;
}
.breadcrumb a{
	padding: 8px 0px;
}
.breadcrumb a:hover{
	/* padding: 8px; */
	color: var(--color-orange);
	text-decoration: underline;
}
.breadcrumb-item+.breadcrumb-item::before {
	margin-top: 8px;
}


/* post */
.post-wrapper {
	margin-bottom: 32px;
}
.post-type {

}
.post-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -8px;
	margin-right: -8px;
}
.post-item-box {
	padding-left: 8px;
	padding-right: 8px;
	width: 25%;
}
.post-item {
	border-radius: 5px;
	border: 1px solid #cfcfcf;
    transition: box-shadow .2s ease,transform .2s ease,-webkit-transform .2s ease;
    margin-bottom: 16px;
}
.post-item:hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 8%);
    z-index: 2;
}
.post-image {
padding-bottom: 80%;
}
.post-main {
	padding: 12px;
}
.post-main div:first-child {
	font-size: 13px;
}
.post-main div:first-child span:last-child {
	font-size: 12px;
}
.post-item .list-star {
	font-size: 12px;
	transform: translateY(-1px);
}
.post-title {
	font-weight: 600;
	margin-bottom: 4px;
	/* font-size: 16px; */
}
.post-content {
	margin-bottom: 12px;
	font-size: 14px;
}
.post-item-tag {
	/* text-align: center; */
	margin-bottom: 12px;
}
.post-item .btn-gray {
	font-size: 14px;
}
@media(max-width: 767px) {
	.post-item-box {
		width: 50%;
	}
}
@media(max-width: 360px) {
	.post-item-box {
		width: 100%;
	}
}

/* footer */
#footer {
	background: var(--bs-light);
	padding: 50px 0;
	text-align: center;
}
.footer-link {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #cfcfcf;
}
.footer-link a {
	text-transform: capitalize;
	font-weight: 500;
	/* padding: 6px; */
}


/* =========== Page home =========== */
/* home search */
#home-search {
	height: 40vh;
	background: #f1f1f1;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 36px;
}
.home-search {
	display: flex;
	position: relative;
	border-radius: 0.25rem;
	overflow: hidden;
	max-width: 800px;
}
.home-search>*:focus {
	box-shadow: none;
}
.home-search input {
	border: none;
	height: 60px;
	max-width: 100%;
	padding-left: 60px;
	font-size: 18px;
	border-radius: 0;
	flex-grow: 1;
	border-radius: 50rem;
}
.home-search-icon {
	position: absolute;
	top: 0;
	left: 20px;
	height: 60px;
	line-height: 60px;
}
.home-search-submit {
	/* border-radius: 0; */
	/* border: 3px solid #fff; */
	height: 45px;
	position: absolute;
	top: 8px;
	right: 35px;
	padding: 0 26px;
}

/* =========== Page blog =========== */
.page-blog {

}
.blog-date {
	font-size: 14px;
	/*text-align: right;*/
}
.blog-content {
	margin-bottom: 36px;
}

/* review */
.blog-review {
	margin-bottom: 32px;
}
.blog-review>h3 {
	margin-bottom: 20px;
}
.review-overview {
	margin-bottom: 16px;
}
.review-overview span:nth-child(1){
	font-size: 28px;
	font-weight: 600;
	margin-right: 8px;
}
.review-overview .list-star{
	font-size: 20px;
	margin-right: 8px;
}
.review-overview span:nth-child(3){

}
.review-list {

}
.review-item {
	border-bottom: 1px solid var(--border-gray);
	padding: 16px 0;
}
.review-item:last-child {
	border-bottom: 0;
}
.review-top {
	display: flex;
	line-height: 1.3;
	margin-bottom: 16px;
}
.review-image {
	margin-right: 16px;
}
.review-name {
	display: block;
}
.review-date {
	font-size: 14px;
	color: gray;
}
.review-star {

}
.review-content {
	/*margin-bottom: 0;*/
}
.review-image {
	display: flex;
	flex-wrap: wrap;
}
.review-image-item {
	width: 80px;
	margin-right: 8px;
	margin-bottom: 8px;
	border-radius: 8px;
	overflow: hidden;
}

/* aside */
.widget {padding: 12px;box-shadow: 0 4px 20px 0 rgb(0 0 0 / 8%);}
.widget-title {
    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--border-gray);
    padding-bottom: 8px;
}
.aside-post-list {

}
.aside-post-item {
	margin-bottom: 24px;
}
.aside-post-item a{
	/*display: flex;*/
}
.aside-post-item a:hover .aside-post-title{
	color: var(--color-orange);
}
.aside-post-thumb {
	margin-right: 12px;
    width: 80px;
    height: 80px;
    float: left;
    /*flex-shrink: 0;*/
}
.aside-post-info {
	/*flex-grow: 1;*/
}
.aside-post-title {
	font-size: 15px;
	line-height: 1.3;
}
.aside-post-info time{
	font-size: 13px;
	color: var(--bs-gray);
}

