* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
    font: inherit;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

input,
button,
select,
optgroup,
textarea {
    font: inherit;
    line-height: inherit;
    outline: none;
    border: 1px solid;
}
button {
    white-space: nowrap;
    border: none;
    background: transparent;
}

h6,
h5,
h4,
h3,
h2,
h1 {
    font: inherit;
}

[placeholder] {
    text-overflow: ellipsis;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex !important;
}
@media(min-width: 576px) {
    .hide-f-sm {
        display: none !important;
    }
}
@media(min-width: 768px) {
    .hide-f-md {
        display: none !important;
    }
}
@media(min-width: 992px) {
    .hide-f-lg {
        display: none !important;
    }
}
@media(max-width: 1139px) {
    .hide-t-lg {
        display: none !important;
    }
}
@media(max-width: 991px) {
    .hide-t-md {
        display: none !important;
    }
}
@media(max-width: 767px) {
    .hide-t-sm {
        display: none !important;
    }
}
@media(max-width: 575px) {
    .hide-t-xs {
        display: none !important;
    }
}
.text-center {
    text-align: center !important;
}

.cursor-ponter {
    cursor: pointer !important;
}




/*components*/
.link-img {
    line-height: 0;
    display: block;
}

.dropdown>.dropdown-toggle {
    cursor: pointer;
}
.dropdown>.dropdown-menu {
    display: none;
}

.dropdown.show>.dropdown-menu {
    display: block;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
    z-index: 90;
    padding: 8px;
    top: calc(100% + 0px);
    left: 0;
}
.dropdown-menu.show {
    display: block;
}