:root {
    --header-h: 60px;
    --border-color-grey: #e0e0e0;
    --bg-color-grey: #f6f5fa;
}

.mt-48px {
    margin-top: 48px !important;
}

.fs-24 {
    font-size: 24px !important;
}

@font-face {
    font-family: Open Sans;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/opensans-400-latin21.woff2) format("woff2");
}

@font-face {
    font-family: Open Sans;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/opensans-700-latin35.woff2) format("woff2");
}

body {
    font-size: 14px;
    font-weight: 400;
    color: #191b26;
    font-family: Open Sans, Arial, system-ui;
}

a {
    font: inherit;
    line-height: 1.5;
    vertical-align: middle;
}

p {
    line-height: 1.6;
}

hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #e7e7e7;
}

.separator {
    width: 0;
    border-right: 1px solid #eee;
    height: 2em;
}

.separator-x {
    height: 1px;
    border-bottom: 1px solid rgba(125, 136, 147, .5);
}

textarea.form-control {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    background: none;
    white-space: nowrap;
    padding: 10px 22px;
}

.btn-green {
    color: #fff;
    background: #02be6e;
    border-radius: 50px;
}

.btn-green:hover {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
}

.btn-grey {
    color: rgba(0,0,0,.8);
    background: #e6e6e6;
    border-radius: 50px;
}

.btn-grey:hover {
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

.btn-blue {
    color: #fff;
    background: #008ddf;
    border-radius: 50px;
}

.btn-blue:hover {
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

.btn-sm {
    padding: 6px 12px;
    font-size: 12px;
}
.btn-md {
    padding: 8px 17px;
    font-size: 13px;
}



.icon {
    position: relative;
    display: inline-block;
    padding: 0;
    background-image: url(../images/sprites.svg), none;
    background-repeat: no-repeat;
    cursor: pointer;
}

.icon_upload {
    background-position: -50px -50px;
    width: 18px;
    height: 16px;
    top: 0px;
    margin-right: 4px;
}

.dropdown-menu {
    position: absolute;
    background: #191b26;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
    z-index: 90;
    padding: 8px;
    top: calc(100% + 0px);
    left: auto;
    right: 0;
}

.dropdown_arrow {
    display: inline-block;
    width: 12px;
    height: 7px;
    margin-left: 5px;
    background: url(../images/sprites.svg) -150px -380px no-repeat;
}

.arrow,
.dropdown_arrow {
    position: relative;
    top: 0px;
    vertical-align: middle;
}

/*header*/
#header {
    height: var(--header-h) !important;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 60px rgba(0, 0, 0, .12);
    border-bottom: 1px solid #eee;
    display: flex;
    max-width: 1830px;
    margin: 0 auto;
    /* padding: 0 20px; */
    position: relative;
    align-items: center;
    font-size: 14px;
}

.header_logo {
    width: 100px;
    margin-right: 32px;
    margin-left: 20px;
}

.header_logo a {
    display: block;
    line-height: 0;
}

.header_logo img {}

.header_link {
    display: flex;
}

.header_link a {

    padding: 8px 16px;
}

.header_link a:hover {
    color: #7d8893;
}

.header_action {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

.btn_explore {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    height: var(--header-h);
}

.header_join,
.header_login {
    text-transform: capitalize;
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
}

.header_join:hover,
.header_login:hover {
    background: #f3f3f3;
    color: #008251;
    text-decoration: underline;
}

.header_action .dropdown-toggle {
    padding: 0 12px;
}

.btn_upload {
    border-radius: 17.5px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 26px;
    margin: -1px 20px 0 15px;
}

.btn_bell {
    height: var(--header-h);
    font-size: 18px;
    padding: 0 12px;
}

.btn_user {
    height: var(--header-h);
}

.container-1 {
    position: relative;
    width: 100%;
    color: #fff;
}

/*dropmenu top*/
.droptop.show {
    display: flex;
}

.droptop {
    position: absolute;
    min-width: 100%;
    background: #191b26;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
    z-index: 90;
    padding: 8px;
    top: calc(100% + 0px);
    right: 0;
}

.droptop-menu {}

.droptop-menu:nth-child(n+2) {
    min-width: 180px;
    border-left: 1px solid rgba(125, 136, 147, .5);
}

.droptop-head {
    color: #fff;
    font-weight: 700;
    white-space: nowrap;
    padding: 8px 12px;
}

.droptop-link {
    padding: 8px 12px;
    text-decoration: none;
    color: #f7f7f7;
    flex-wrap: nowrap;
    white-space: nowrap;
    cursor: pointer;
    display: block;
    min-width: 135px;
    color: #9aa2b0;
}

.droptop-link:hover {
    background: #7d8893;
    color: #fff;
    /*font-weight: 600;*/
    text-decoration: none;
}

.droptop-socials {
    padding: 0 16px 6px;
}

.droptop hr {
    border-top: 1px solid #2e303d;
}

.droptop-socials a {
    display: inline-block;
    font-size: 18px;
    padding: 5px 10px;
    color: #9aa2b0;
}

.droptop-socials a:hover {
    color: #fff;
    opacity: .8;
}

.dropdown-menu-notification {
    background: #fff;
    color: #191b26;
    min-width: 480px;
    max-height: 480px;
}

.notifications {
    background: #fff;
    color: #191b26;
}

.notification-title {
    margin: 0 16px;
    font-weight: 600;
}

.notification-empty {
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*section search*/
.ss_search {
    padding: 0 20px;
}

.search_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.search_bg picture>img {
    position: absolute;
    min-width: 1000%;
    min-height: 1000%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(.1);
}

.search_bg_dark {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
}

.search_content {
    position: relative;
    background-position: 50%;
    background-size: cover;
    /*background-color: #555;*/
    margin: auto;
    text-align: center;
    transition: .8s;
    max-width: 800px;
    /* padding-bottom: 100px; */
}

.search_content>h1 {
    padding-top: 150px;
    font-size: 32px;
    text-shadow: 0 0 1px rgb(0 0 0 / 60%);
    line-height: 1.5 !important;
    font-weight: 700;
}

.search_content>h2 {
    text-shadow: 0 0 1px rgb(0 0 0 / 60%);
    line-height: 1.5 !important;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0 28px;
}

.form_search {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
    display: flex;
}

.form_search>[type=submit] {
    width: 50px;
    height: 55px;
    border: 0;
    background: url(../images/sprites.svg), no-repeat;
    background-position: 15px -83px;
    opacity: .75;
    transition: opacity .3s;
    display: flex;
}

.form_search [name=q] {
    outline: none;
    border: none;
    flex-grow: 1;
    font-size: 16px;
}

#toggle_search {
    height: 100%;
    padding: 0 12px;
    margin-left: 8px;
}

.search_popular {
    margin: 10px;
    color: #fff;
    opacity: .5;
    font-size: 14px;
    margin-bottom: 100px;
}

.search_popular a {
    color: #fff;
}

.search_bottom {
    padding: 30px 25px 15px;
    color: #fff;
    text-align: center;
}

.search_bottom a {
    color: #fff;
    opacity: .8;
    transition: .3s;
    font-size: 14px;
}

.search_bottom a:hover {
    opacity: 1;
}

@media(min-width: 568px) {
    .search_content {
        max-width: 600px;
    }
}

@media(min-width: 1024px) {
    .search_content {
        max-width: 800px;
    }
}

/*posts*/
.ss_post {
    max-width: 1800px;
    margin: 20px auto 10px;
    padding: 0 20px;
}

.posts {
    position: relative;
    columns: 300px 5;
    column-gap: 12px;
}

.post-item {
    position: relative;
    break-inside: avoid;
    margin-bottom: 12px;
    display: block;
}

.post-link {
    width: 100%;
}

.post-item img {
    width: 100%
}

.info-line {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    padding: 10px 10px 8px 6px;
    opacity: 0;
    transition: .25s;
    background: linear-gradient(0deg, rgba(0, 0, 0, .6) 0, transparent);
    font-size: 14px;
    color: #fff;
}

.post-item .info-line {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.info-line-count {
    float: right;
    position: relative;
    top: 10px;
    right: 5px;
}

.info-line-count i {
    top: 2px;
    margin-left: 8px;
    transition: opacity .3s;
}

.info-line-count a:hover {
    opacity: .6;
}

.info-line-caption {
    display: inline-block;
    color: #fff;
    padding: 5px 7px;
    border-radius: 2px;
    transition: .2s;
}

.info-line-caption a {
    display: inline-block;
    color: #fff;
    padding: 5px 7px;
    border-radius: 2px;
    transition: .2s;
}

.info-line-caption a:hover {
    background: hsla(0, 0%, 100%, .2);
}

.btn--more {
    padding: 12px var(--header-h);
}

/*section about*/
.ss_about {
    text-align: center;
    max-width: 1064px;
    margin: auto;
    padding: 100px 20px 0;
}

.ss_about h2 {
    font-size: 30px;
    color: #515457;
    margin-bottom: 20px;
}

.ss_about p {
    margin-bottom: 36px;
    font-size: 16px;
}

.ss_about a {
    color: #0a88d3;
}

/*footer*/
#footer {
    max-width: 1800px;
    margin: 0 auto;
    padding: 80px 0;
    color: #7d8893;
    font-size: 12px;
    text-align: center;
}

#footer a {
    color: #0a88d3;
}