/* - color:; 

    - bg gray: #f3f4f7

*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
:root {
    --color-primary: #0a88d3;
    --color-orange: #ff5b00;
    --color-yellow: #fdc209;
    --color-gray: #f5f5f5;
    --border-gray: #e0dede;
    --border-gray1: #dee2e6;
    --bg-gray: #f6f6f6;
    --bg-hover-gray: #f3f4f7;
    --color: #34a39a;
}

@font-face {
    font-display: swap;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    /*src: url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_reg-webfont.woff2) format("woff2"),url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_reg-webfont.woff) format("woff")*/
}
@font-face {
    font-display: swap;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    /*src: url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_med-webfont.woff2) format("woff2"),url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_med-webfont.woff) format("woff")*/
}
@font-face {
    font-display: swap;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    /*src: url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_bld-webfont.woff2) format("woff2"),url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_bld-webfont.woff) format("woff")*/
}
body {
    font-size: 16px;
    font-weight: 400;
    /*color: #191b26;*/
    color: #333;
    /*font-family: Open Sans, Arial, system-ui;*/
    font-family: 'Roboto Condensed', sans-serif;
}
.h1-title {
    font-size: 32px;
    font-weight: 700;
}
.h2-title {
    font-size: 28px;
    font-weight: 700;
}
.h3-title {
    font-size: 24px;
    font-weight: 700;
}
.h4-title {
    font-size: 20px;
    font-weight: 700;
}
.h5-title {
    font-size: 18px;
    font-weight: 700;
}

/* Setting */


/* ========== Header ========== */
.dropdown .dropdown-menu .dropdown-item:active {
    background-color: #757575;
}
.navbar .dropdown-menu {
    /*position: absolute!important;*/
    margin-top: 0;
}
#header .navbar {
    padding: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.navbar .nav-item {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}
#header .nav-link {
    padding-right: 0.15rem;
    padding-left: 0.15rem;
}
.navbar .navbar-nav .nav-link {
    padding: 15px 10px;
    color: #545454 ;
    font-weight: 600;
    font-size: 15px !important;
}
.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #545454;
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-item.active>.nav-link {
    color: var(--color);
    background-color: rgba(0, 0, 0, 0);
}
.navbar .nav-item .nav-link {
    display: block;
}
.navbar .dropdown-item {
    padding: 10px;
}
.posted-sale-btn {
    padding: 5px 12px;
    border: 1px solid #00C65D;
    border-radius: 3px;
    color: #00C65D;
}
.btn-search-menu {
    padding: 5px 8px;
    color: #202020;
    border-radius: 3px;
    border: 1px solid #545454;
    background: transparent;
}
#header .btn-search {
    padding: 5px;
    height: 40px;
}
#header .btn-search>span {
    font-weight: 600;
    padding: 6px 8px;
    color: #202020;
    border-radius: 3px;
    border: 1px solid #ffc107;
    background: #ffc107;
    font-size: .875rem;
    display: inline-block;

}
@media(min-width: 992px) {
    .icon-header {
        display: none;
    }
    .navbar-expand-lg .nav-link {
        padding-right: 0.15rem;
        padding-left: 0.15rem;
    }
}
@media(max-width: 991px) {
    .navbar .nav-item {
        border-bottom: 1px solid #ccc;
        padding: 0;
    }
    #header .nav-link {
        padding-left: 12px;
    }
    .navbar .nav-item .nav-link .fa {
        padding-right: 3px;
    }
    #header .nav-item--post {
        text-align: right;
        margin-top: 15px;
        margin-bottom: 15px;
        border-bottom: 0;
    }
    #header ul.dropdown-menu {
        border: 0;
        padding: 0 0 0 16px;
    }
    #header ul.dropdown-menu .dropdown-item {
        border-bottom: 1px solid #ccc;
    }
    #header ul.dropdown-menu .dropdown-item:last-child {
        border: 0;
    }
    .navbar-light .navbar-toggler {
        border: none;
        box-shadow: none !important;
    }
}


/* ========== Main ========== */
body>main {
    margin-bottom: 48px;
    min-height: 60vh;
    margin-top: 57px;
}




/* ========== Footer ========== */
#footer {
    /*background: #252525;
    padding-top: 20px;
    color: white;*/
}
#footer a:hover {
    text-decoration: underline;
}

/* Footer top */
.footer-top {
    background: #e9e9e9;
    padding-top: 24px;
    font-size: 14px;
}
.footer-logo {
    margin-bottom: 12px;
}
.footer-social-list {
    display: flex;
    margin-bottom: 0;
    line-height: 26px;
}
.footer-top .title h5 {
    font-weight: 600;
}
.footer-top .company-name {
    font-size: 14px;
    color: #222;
    font-weight: 600;
}
.footer-top .company-info {
    padding: 0;
    font-size: 12px;
}
.email-subscribe {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
#footer .email-subscribe input {
    box-shadow: none;
    border-radius: 0.25rem 0 0 0.25rem;
    border: 1px solid #CCD3D9;
    background: #fff;
    padding: 10px;
    font-size: 12px;
}
#footer .email-subscribe span {
    padding: 11px 15px;
    color: #fff;
    border: 1px solid #CCD3D9;
    background: #004078;
}

/* Coppyright */
.footer-copyright {
    background-color: rgba(0,0,0,.2);
    /*color: rgba(255,255,255,.6);*/
    font-size: 13px;
}

/* Breadbrumb */
/*.breadcrumb {
    padding: 24px 0;
    margin: 0;
}
.breadcrumb li {

}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #6c757d;
    content: "/";
}
.breadcrumb li a{
    color: var(--color);
}*/


/* ========== Page home ========== */
/* home search */
.st-home-search {
    min-height: 300px;
    height: 60vh;
    /* background: #f1f1f1; */
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-top: 16px;*/
    /*margin-bottom: 24px;*/
    background-repeat: no-repeat;
    background-position: center center;
    flex-direction: column;
    position: relative;
}
.home-search-img {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(.9);
}
.st-home-search h1, .st-home-search p {
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
}
.st-home-search>.container {
    transform: translateY(-32px);
}
.st-home-search h1 {
    font-size: 48px;
}
.st-home-search p {
    font-size: 24px;
}
.home-search {
    display: flex;
    position: relative;
    border-radius: 0.25rem;
}
.home-search input {
    background: #f8f8f8;
    border: 1px solid #f5f5f5;
    height: 60px;
    max-width: 100%;
    padding-left: 60px;
    font-size: 18px;
    border-radius: 0;
    flex-grow: 1;
    border-radius: 50rem;
}
.home-search button[type=submit] {
    position: absolute;
    top: 0;
    left: 21px;
    height: 60px;
    /* line-height: 60px; */
}

/* home1 */
.st-home1 {
    text-align: center;
    padding-top: 28px;
    padding-bottom: 28px;
}
.st-home1>h2{
    font-weight: 700;
    font-size: 24px;
}
.home1-content {
    margin-top: 24px;
}
.home1-content h2{
    display: inline-block;
    font-weight: 700;
    margin-bottom: 0;
}
.home1-content p {
    margin-top: 12px;
}

/* home2 */
.st-home2 {
    text-align: center;
    background: var(--bg-gray);
    padding: 48px 0;
}
.st-home2 h4 {
    font-weight: 700;
    padding-top: 12px;
    padding-bottom: 48px;
    /* font-size: 20px; */
}
.home2-item {
    padding-bottom: 16px;
}
.home2-icon {
    color: red;
}
.home2-item-title {
    font-weight: 700;
    margin-top: 16px;
}

/* home3 */
.st-home3 {
    padding-top: 48px;
    padding-bottom: 48px;
}
.home3-list .img-cover{
    padding-bottom: 60%;
    margin-bottom: 16px;
}
.home3-list .img-cover:hover {
    /*opacity: .9;*/
}
.home3-content{
    margin-bottom: 16px;
}