@font-face {
    font-family: 'Oswald';
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: url('../webfonts/Oswald-Regular.woff2') format("woff");
}


 @media only screen and (max-width: 768px) {

     /*//.custom-container {
     //  margin-left: -8px;
     //  margin-right: -8px;
     //}*/
     .hr-pbase {
         background-color: #e6e6e6;
         margin: 24px 0px;
     }

     .input-track-order {
         width: 100%;
         border-radius: 3px;
         margin-bottom: 0.5rem;
     }

     .btn-track-container {
         width: 100%;
     }

     .btn-track-order {
         width: 100%;
         margin-left: 0px;
     }
 }

 @media only screen and (min-width: 768px) {

     /*//.custom-container {
     //  margin-left: -16px;
     //  margin-right: -16px;
     //}*/
     .hr-pbase {
         background-color: #e6e6e6;
         margin: 32px 0px;
     }

     .input-track-order {
         width: calc(100% - 158px);
         border-radius: 3px;
     }

     .btn-track-container {
         width: auto;
     }

     .btn-track-order {
         width: 146px;
         margin-left: 8px;
         background: rgb(0, 119, 204);
         border-radius: 3px;
         color: white;
         font-family: Montserrat;
         font-size: 12px;
         font-weight: 500;
         letter-spacing: 2px;
         line-height: 18px;
     }
 }

 .m-n {
     margin: 0px;
 }

 .flex-align-center {
     display: flex;
     align-items: center;
 }

 .inline-block {
     display: inline-block;
 }

 /*//.custom-container {
 //  margin-top: calc(-8px - 0.5rem);
 //}*/
 .input-track-order>input {
     width: 100%;
     border-radius: 3px;
 }

 .input-track-order>input:focus,
 .input-track-order>input:active,
 .input-track-order>input:hover {
     box-shadow: 0px 0px 0px 2px rgba(230, 230, 230, 0.5);
 }

 .info-tracking {
     color: rgb(153, 153, 153);
     font-family: "CalmettaTrial", "Muli", sans-serif;
     font-size: 12px;
     letter-spacing: 0px;
     line-height: 18px;
 }

 .btn-track-order {
     background: rgb(0, 119, 204);
     border-radius: 3px;
     color: white;
     font-family: Montserrat;
     font-size: 12px;
     font-weight: 500;
     letter-spacing: 2px;
     line-height: 18px;
 }

 .mdi-information:before {
     font-size: 12px;
     content: "\24D8";
     font-style: initial;
     margin-right: 4px;
     color: rgb(153, 153, 153);
 }

 .text-info-normal>p {
     margin-bottom: 4px;
 }