@font-face {
    font-family: Os;
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: url('../webfonts/Oswald-Regular.woff2') format("woff");
}

@font-face {
    font-family: 'Oswald';
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: url('../webfonts/Oswald-Regular.woff2') format("woff");
}

/* cyrillic-ext */
/*
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v36/TK3_WkUHHAIjg75cFRf3bXL8LICs1y9osUtiZTaR.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}*/

/* cyrillic */
/*
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v36/TK3_WkUHHAIjg75cFRf3bXL8LICs1y9osUJiZTaR.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
*/
/* vietnamese */
/*
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v36/TK3_WkUHHAIjg75cFRf3bXL8LICs1y9osUliZTaR.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}*/

/* latin-ext */
/*
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v36/TK3_WkUHHAIjg75cFRf3bXL8LICs1y9osUhiZTaR.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}*/

/* latin */
/*@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v36/TK3_WkUHHAIjg75cFRf3bXL8LICs1y9osUZiZQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}*/

div .d-none {
    display: none;
}

.media-gallery .media-gallery-carousel .VueCarousel-pagination .VueCarousel-dot {
    margin-top: 10px;
    padding: 5px;
    width: 10px;
    height: 10px;
    background-color: rgb(230, 230, 230);
    /*transform: translate3d(0px, 0px, 0px);*/
    transition: transform 0.5s ease 0s;
    /* width: calc(100%/15); */
}

.media-gallery .media-gallery-carousel .VueCarousel-pagination .slider-owl-dot-item.i-active{
            margin-top: 10px;
            padding: 5px;
            width: 10px;
            height: 10px;
            background-color: rgb(26, 26, 26);
            transition: transform 0.5s ease 0s;
            border-color: rgba(255,255,255,0.5);
}

.slider-owl .slider-btn-dot-item.i-active {
    margin-top: 10px;
    padding: 5px;
    width: 10px;
    height: 10px;
    background-color: rgb(26, 26, 26);
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.5s ease 0s;
}

.slider-owl .slider-owl-thumb-item.i-active img{
        filter: brightness(50%);
}


.rv-widget__btn.rv-secondary.d-none {
    display: none;
}

.product__price {
    color: #d53810;
    font-family: "Montserrat", "Muli", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1;
}

.product__price--original {
    font-weight: 500;
    letter-spacing: 1px;
    color: #999;
}

.product__sale-info {
    text-transform: uppercase;
    color: white;
    background-color: #d53810;
    padding: 1px 6px;
    border-radius: 10px;
    position: relative;
    top: -1px;
}



.tablet-tab-btn-item.i-active {
    border-bottom: 1px solid #7ed321;
    color: #1a1a1a;
}

.tablet-tab-content-item {
    display: none;
}

.tablet-tab-content-item.i-active {
    display: block;
}


.product-owl {
    transform: translate(0px, 0px);
    transition: transform 0.5s ease 0s;
    flex-basis: calc(100%/6);
    /*visibility: visible;*/
    height: auto;
}

.rv-widget__review-type span {
    color: #bcbcbc;
}

.rv-widget__review-type .i-active {
    color: #606060;
}



@media screen and (max-width: 1024px) {
    .product-owl {
        flex-basis: 25%;
    }
}


@media screen and (max-width: 576px) {
    .product-owl {
        flex-basis: 100%;
    }
}