body {
    font-size: 14px;
}
body.container #main.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
body #main {
    min-height: 50vh;
}
a.text-underline-hover:hover {
    text-decoration: underline;
}

.bg-secondary {
    background-color: #6861CE !important;
}
.fw-600 {
    font-weight: 600 !important;
}
.export_excel {
    background: #f1f1f1;
    font-weight: 500;
}
.main-content>.header {
    max-width: 100vw;
}

#main {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media (min-width: 1400px){
    #main {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}
#main button {
    white-space: nowrap;
}
/*#main a:not(.btn) {
    color: inherit;
}*/

.main-title {
    padding: 1rem;
    padding-top: 0;
    border-bottom: 1px solid #e9ecef;
    margin-bottom: 1.5rem;
}
.main-title h1 {
    line-height: 3rem;
    margin-bottom: 0 !important;
}

/*card stats*/
.card--stats i {
    font-size: 30px;
}
/* Card */
.card--item .card-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e9ecef;
    padding: 1rem;
    margin-bottom: .5rem;
}
.card--item .card-body {
    padding: 1rem;
}
.card-head-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

/* form */
.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
}
.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #198754;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
}
/* form select */
.form--select {
    display: flex; 
    flex-wrap: wrap;
    /*margin-top: 1rem;*/
}
.form--select .form-control {
    width: auto;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}
.form--select input[type=text] {
    width: 200px;
}
form.needs-validation, .form--edit {
    max-width: 800px;
}



/*table*/
table tr, table thead th {
    vertical-align: middle;
    min-width: 60px;
}
.pagination_out {
    text-align: center;
}
.pagination_out ul.pagination {
    justify-content: center;
}
.table-responsive a {
    /*color: inherit;*/
}
.table-responsive a:hover {
    text-decoration: underline;
}
.table-th-stt {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    text-align: right;
}
.table-th-active {

}
.table-th-edit {
    width: 120px;
    text-align: center;
}
table .td-link:hover {
    cursor: pointer;
    text-decoration: underline;
    background: #f3f3f3;
}
table .btn-edit {
    /*padding: 5px 16px;*/
}

table .spinner-border {
    width: 2rem;
    height: 2rem;
}

#pagination_out .pagination {
    justify-content: center;
    margin-top: 24px;
    flex-wrap: wrap;
}
#pagination_out .pagination .page-item {
    margin-bottom: 8px;
}

/*preload*/
#preloader {
    /*position: fixed;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader .spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    width: 50px;
    height: 50px;
}
.loader .spinner .path {
    stroke: #2d86eb;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
/*stamp*/
.stamp {
    color: #fff;
    background: #6861CE;
    display: inline-block;
    min-width: 2rem;
    height: 2rem;
    padding: 0 .25rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 3px;
    font-weight: 600;
}
.stamp-md {
    min-width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
}
/*activity feed - list item*/
.activity-feed {
    padding: 15px;
    list-style: none;
}
.activity-feed .feed-item {
    position: relative;
    padding-bottom: 16px;
    padding-left: 20px;
    border-left: 2px solid #e4e8eb;
}
.activity-feed .feed-item .date {
    display: block;
    position: relative;
    top: -5px;
    color: #8c96a3;
    text-transform: uppercase;
    font-size: 13px;
}
.activity-feed .feed-item .text {
    position: relative;
    top: -3px;
}
.activity-feed .feed-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -7px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #177dff;
}
.activity-feed .feed-item:last-child {
    border-color: transparent;
}
.feed-item-secondary::after {
    background: #6861CE !important;
}


/* ========== PLUGIN ========== */
/*hightcharts*/
.highcharts-credits {
    display: none;
}
.highcharts-axis-labels>text, .highcharts-legend-item>text {
    font-size: 13px !important;
    font-family: Arial,sans-serif;
    font-weight: 400;
}
.highcharts-label.highcharts-tooltip>text, .highcharts-label.highcharts-tooltip>text>tspan:first-child {
    font-size: 13px !important;
    font-family: Arial,sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
}

/* select2 */
.select2-container--default .select2-selection--single {
    height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: calc(35px - 2px);
}
.select2-selection__rendered {
    font-weight: 400;
    font-size: 0.875rem;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(35px - 2px);
}
.was-validated .form-control:invalid + .select2 .select2-selection{
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.was-validated .form-control:valid + .select2 .select2-selection{
    border-color: #198754;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.was-validated .select2-selection__arrow {
    display: none;
}

/* theme muze */
.navbar-vertical.navbar-expand-lg .navbar-nav {
    height: calc(100vh - 10rem);
}
body.container {
    max-width: 1400px;
}
body.container.top-header .main-content .header .container-fluid {
    max-width: 1400px;
}
